<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style><%= render 'show.css' %></style>

<script><%= render 'tweenmax.min.js' %></script>
<script><%= render 'winwheel.min.js' %></script>

<div id="pack-data" data-shop-id="<%= params[:shop_id] %>" data-is-preview="<%= params[:jolted_preview] %>"></div>
<%= javascript_pack_tag 'wheel', 'data-shop-id': params[:id] %>
