<nav class="navbar navbar-expand-md navbar-light bg-white mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag "jolted_logotype.png", alt: "Jolted", width: "100" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">

        <!-- <li class="nav-item">
          <a class="nav-link" href="https://<%= @current_shopify_session.domain %>/admin"><%= @current_shopify_session.domain %></a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <%= @current_shopify_session.domain %>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <li><%= mail_to 'support@jolted.io', 'Support', class: 'dropdown-item' %></li>
            <li><%= link_to 'Privacy', privacy_path, class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://<%= @current_shopify_session.domain %>/admin">Back to Shopify</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
