<%= render 'shared/flash' %>

<%= form_for @wheel, url: wheel_path, method: :put, local: true do |f| %>
  <%= render 'shared/annotated_layout',
    locals: { title: 'Branding', description: 'Make it your own' } do %>
    <div class="card">
      <div class="card-body">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <td>Larry</td>
              <td>the Bird</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <%= render 'shared/annotated_layout',
    locals: { title: 'Coupon segments', description: 'Customize your coupons' } do %>
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Label</th>
              <th scope="col">Gravity</th>
            </tr>
          </thead>

          <tbody>
            <%= f.fields_for :wheel_segments do |segment| %>
              <tr>
                <td><%= segment.index + 1 %></td>

                <td>
                  <%= segment.text_field :label, placeholder: 'Label', class: "form-control", readonly: segment.object.losing? %>
                </td>

                <td>
                  <%= segment.select :gravity, gravity_options, {}, class: 'form-control', hidden: segment.object.losing? %>
                </td>

                <%= segment.hidden_field :position %>
                <%= segment.hidden_field :outcome %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <%= f.submit 'Save', class: 'btn btn-lg btn-primary' %>
<% end %>
